<header>
    <div class="container container-nav">
        <div>
            <h1>Houston Texans Fantasy <span style="color: #C31531">Manager</span></h1>
            <p class="subtitle">BUILD YOUR FANTASY TODO LIST</p>
        </div>
        <nav class="nav">
            <ul>
                <li><a routerLink="/" >HOME</a></li>
                <li><a routerLink="/todo"  routerLinkActive="active-link">TODO LIST</a></li>
                <li><a routerLink="/about" routerLinkActive="active-link">ABOUT</a></li>
            </ul>
        </nav>
       
    </div>
</header>


<div class="picDiv">
    <img src="./../../assets/lumberg.png">
    <h1>Yeaaahhh...We're gonna to need you to come in on Saturday and finsh the About section!</h1>
</div>

