
    <header>
        <div class="container container-nav">
            <div>
                <h1>Houston Texans Fantasy <span style="color: #C31531">Manager</span></h1>
                <p class="subtitle">BUILD YOUR FANTASY TODO LIST</p>
            </div>
            <nav class="nav">
                <ul>
                    <li><a routerLink="/" routerLinkActive="active-link">HOME</a></li>
                    <li><a routerLink="/todo"  routerLinkActive="active-link">TODO LIST</a></li>
                    <li><a routerLink="/about" routerLinkActive="active-link">ABOUT</a></li>
                </ul>
            </nav>
           
        </div>
    </header>

    <div class="container">
        <img class="logo" src="assets/houston-texans-logo.jpg">
    </div>

